.App {
  min-height: 100vh;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin-top: 100px;
}

.heading {
  letter-spacing: 1.2px;
  font-weight: 900;
  font-size: 40px;
}

.search-form {
  min-height: 10vh;
  display: block;
  justify-content: center;
  align-items: center;
}
.para {
  font-size: 15px;
  letter-spacing: 0.8px;
  padding: 30px 200px;
}
.search-bar {
  width: 20%;
  font-size: 20px;
  border-radius: 10px;
  display: block;
  border: 1px solid black;
  margin: 0 auto;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: rgb(255, 240, 160);
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.recipe {
  border: 1px solid orange;
  margin: 20px;
  text-align: left;
  max-width: 300px;
  letter-spacing: 0.5px;
  padding: 10px;
  border-radius: 10px;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipe-title {
  font-size: 20px;
  text-align: center;
}

li {
  font-size: 12px;
}

a {
  margin: 0 auto;
  border: 1px solid transparent;
  text-align: center;
  background-color: rgb(252, 244, 204);
  display: block;
  width: 115px;
  height: 25px;
  letter-spacing: 0.8px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 5px;
  color: black;
  font-weight: bold;
}
