.App {
  min-height: 100vh;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin-top: 100px;
}

.heading {
  letter-spacing: 1.2px;
  font-weight: 900;
  font-size: 40px;
}

.search-form {
  min-height: 10vh;
  display: block;
  justify-content: center;
  align-items: center;
}
.para {
  font-size: 15px;
  letter-spacing: 0.8px;
  padding: 30px 200px;
}
.search-bar {
  width: 13%;
  height: 20px;
  font-size: 17px;
  border-radius: 10px;
  display: block;
  border: 1px solid rgb(97, 95, 95);
  margin: 0 auto;
  padding: 5px;
  padding-left: 18px;
  padding-right: 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: rgb(255, 240, 160);
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.recipe {
  border: 1px solid orange;
  margin: 20px;
  text-align: left;
  min-width: 300px;
  max-width: 300px;
  /* max-height: 1000px; */
  min-height: 600px;
  letter-spacing: 0.5px;
  padding: 10px;
  border-radius: 10px;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipe-title {
  font-size: 20px;
  text-align: center;
}

li {
  font-size: 12px;
}
ul {
  margin-bottom: 40px;
}

a {
  margin: 0 auto;
  border: 1px solid transparent;
  text-align: center;
  background-color: rgb(252, 244, 204);
  display: block;
  width: 115px;
  height: 30px;
  letter-spacing: 0.8px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 5px;
  padding-top: 10px;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  object-fit: cover;
}

img {
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 8%;
}

textarea:focus,
input:focus {
  outline: none;
}

@media only screen and (max-width: 900px) {
  .para {
    padding: 20px 100px;
  }

  .search-bar {
    width: 23%;
  }
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 30px;
  }

  .para {
    /* background-color: red; */
    padding: 20px 40px;
  }

  .search-bar {
    width: 27%;
  }
}
